.header__logo{
    background-image: linear-gradient(to right, #ff0000, #ff0035, #ff0058, #ff0079, #f91e96);
}

.logo {
    padding: 33px 0;
    @media(max-width: 991px){
        padding: 18px 16px;
    }
}

.header__menu{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    @media(max-width: 991px){
        position: fixed;
        bottom: 0;
        box-shadow: 0px -3px 6px #00000029;
        width: 100%;
        height: 56px;
    }
    .header__menu--nav{
        display: flex;
        li{
            list-style: none;
            padding: 20px 0 18px 0;
            display: flex;
            align-items: center;
            max-width: 100%;
            width: 100%;
            @media(max-width: 991px){
                flex-direction: column;
                justify-content: space-evenly;
                padding: 13px 9px 18px;
                width: auto;
            }
            a{
                font-size: 16px;
                font-weight: 500;
                text-align: left;
                color: #000000B3;
                transition: all ease-in-out .3s;
                text-decoration: none;
                padding-left: 5px;
                @media(max-width: 991px){
                    font-size: 12px;
                    text-align: center;
                    color: #7F7F7F;
                    font-weight: 400;
                    padding-top: 5px;
                }
                &:hover{
                    color: #FF0000;
                }
            }
        }
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 991px){
        flex-direction: column;
    }
}

.title {
    font-size: 24px;
    margin: 31px 0 28px;
    color: #000000B3;
    padding-left: 10px;
    @media(max-width: 991px){
        text-align: center;
        padding-left: 0;
    }
}

.ordenacao{
    padding-right: 22px;
    @media(max-width: 991px){
        padding-right: 0;
        width: 90%;
        padding: 0 0 20px;
    }
    select {
        width: 338px;
        height: 56px;
        border: 1px solid #F62996;
        border-radius: 4px;
        padding-left: 13px;
        @media(max-width: 991px){
            width: 100%;
        }
    }
}
 

.product {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    justify-content: center;
    row-gap: 27px;
    margin-bottom: 43px;
    @media(max-width: 991px){
        grid-template-columns: 100%;
        padding: 0 16px;
    }
    .product__card{
        .product__card--item{
            width: 100%;
            max-width: 328px;
            height: 398px;
            background: #fff 0% 0%;
            box-shadow: 0px 6px 12px #0000001F;
            border: 1px solid #00000026;
            border-radius: 14px;
            // padding: 15px 0 0;
            @media(max-width: 991px){
                max-width: 100%;
            }
            .product__card-img{
                text-align: center;
                img{
                    width: 100%;
                    height: 203px;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 14px 14px 0 0;
                }
            }
            .product__card--title {
                font-size: 15px;
                font-weight: normal;
                color: #000000B3;
                text-align: center;
                padding: 15px 20px;
                height: 60px;
            }
            .product__card--price {
                font-size: 22px;
                font-weight: 700;
                text-align: center;
                color: #000000B3;
                padding-bottom: 17px;
            }
            .product__card--btn {
                width: 302px;
                height: 36px;
                border-radius: 18px;
                box-shadow: 0 3px 6px #00000029;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(36,201,43);
                background: linear-gradient(95deg, rgba(36,201,43,1) 0%, rgba(9,159,15,1) 100%);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                margin: 0 auto;
                text-decoration: none;
                transition: all ease-in-out .3s;
                &:hover{
                    background: linear-gradient(95deg, rgba(9,159,15,1) 0%, rgba(36,201,43,1) 100%);
                }
            }
        }
    }
}

.cart__title{
    padding: 40px 0;
    .title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
    }
}

.cart__product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .cart__product--item{
        width: 672px;
        // height: 144px;
        box-shadow: 0px 6px 12px #0000001F;
        border: 1px solid #00000026;
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .cart__product--price{
        width: 328px;
        height: 144px;
        border: 1px solid #00000026;
        box-shadow: 0px 6px 12px #0000001F;
        border-radius: 6px;
    }
    .cart__product--title{
        display: flex;
        align-items: center;
        .title{
            font-size: 14px;
            color: #000000B3;
        }
    }
    .cart__product--qtd-price {
        font-size: 16px;
        font-weight: 700;
        color: #4CAF50;
    }
    .cart__product--qtd-delete{
        .cart__product--qtd-btn {
            text-decoration: none;
            padding-left: 50px;
        }
    } 
}

.cart__product--qtd{
    padding: 0 40px 0 90px;
    .cart__product--btn {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        border: none;
        background-color: #000000B3;
        color: #fff;
        font-weight: 700;
    }
    .cart__product--qtd-input {
        border-radius: 4px;
        box-shadow: 0px 3px 6px #00000029;
        width: 53px;
        height: 25px;
        border: none;
        margin: 0 5px;
        text-align: center;
        font-size: 16px;
    }
}

.cart__product--price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        font-size: 30px;
        font-weight: 700;
        color: #4CAF50;
        display: block;
    }
    .cart__product--price-btn{
        width: 302px;
        height: 36px;
        border-radius: 18px;
        box-shadow: 0 3px 6px #00000029;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(36,201,43);
        background: linear-gradient(95deg, rgba(36,201,43,1) 0%, rgba(9,159,15,1) 100%);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin: 20px auto 0;
        text-decoration: none;
        transition: all ease-in-out .3s;
        &:hover{
            background: linear-gradient(95deg, rgba(9,159,15,1) 0%, rgba(36,201,43,1) 100%);
        }
    }
} 



.footer{
    background-image: linear-gradient(to bottom, #ff0000, #ff0035, #ff0058, #ff0079, #f91e96);
    .footer__socialMidia {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 991px){
            justify-content: space-evenly;
        }
        a{
            text-decoration: none;
            margin: 43px 47px;
            @media(max-width: 991px){
                margin: 45px 0 78px;
            }
        }
    }
}