@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Colors: */
    --unnamed-color-b9b9b9: #B9B9B9;
    --unnamed-color-efefef: #EFEFEF;
    --unnamed-color-666666: #666666;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-0089ff: #0089FF;
    ---4caf50: #4CAF50;
    --unnamed-color-fdb924: #FDB924;
    ---f91e96: #F91E96;
    ---ff0000: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 1080px){
    html{
        font-size: 93.73%;
    }
}
@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

body{
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    background-color: var(--unnamed-color-ffffff);
}

body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

button{
    cursor: pointer;
}

[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}

.container{
    width: 100%;
    max-width: 1051px;
    display: block;
    margin: 0 auto;
}